<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav id='header__nav'>
				<ul id="header__nav__ul">
					<li class="header__nav__ul__li">
						<a class="header__nav__ul__li__a" aria-current="page" href="{{ path('index') }}">Acceuil</a>
					</li>
					<li class="header__nav__ul__li">
						<a class="header__nav__ul__li__a" aria-current="page" href="{{ path('admin_blog_index') }}">Acceuil Post Admin</a>
					</li>
					<li class="header__nav__ul__li">
						<a class="header__nav__ul__li__a" aria-current="page" href="{{ path('admin_users_index') }}">Acceuil Users Admin</a>
					</li>
				</ul>
			</nav>

			{% block hero %}{% endblock %}
		</header>

		<div class="body"> {% block body %}{% endblock %}
			{# <div class="grande_boite">
				<div class="boite">
					<div class="rond-1">1</div>
				</div>
			</div> #}

			
		</div>
		<footer>
			<h1>Footer</h1>
		</footer>
	</body>
</html></body></html>
